ColumnLimit: 120
UseTab: Never
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Allman
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SortIncludes: false
IncludeBlocks: Regroup

BreakAfterReturnType: AllDefinitions
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
# AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: OnePerLine
BinPackArguments: false
PointerAlignment: Right
ReferenceAlignment: Right

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
